<h1>Hey!</h1>

<p>OT tube map API coming soon...</p>
<p>
<a href="stations">Search for restaurants</a>
<br />
<% @tomorrow = Date.today + 1 %>
<a href="availability?datetime=<%=@tomorrow.strftime("%d/%m/%Y 19:00")%>&partysize=2&rid=18438">Book a test restaurant</a>
</p>